.login {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;
  width: 352px;
  -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  padding: 24px 32px 32px;
  border-radius: 8px;
  margin: 0 auto;
  background: #fff;
  margin-top: 10%;
}

.login > h2 {
  margin-bottom: -20px;
}

.login > p {
  margin-bottom: 20px;
}

.login > img {
  object-fit: contain;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.9);
  border: 1px gray solid;
  border-radius: 4px !important;
  margin-bottom: 0px!important;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0a66c2;
  border-radius: 30px;
  border: 1px solid #0a66c2;
}

.login > form > button:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #0a66c2;
  color: #0a66c2;
}

.login__register {
  color: #0a66c2;
  cursor: pointer;
  text-decoration: none;
}

.login > p {
  margin-top: 20px;
}

.login__form {
  width: 352px;
  -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  padding: 24px 32px 32px;
  border-radius: 8px;
  margin: 0 auto;
  background: #fff;
}

.input__error {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid #d11124 2px !important;
  margin: 0;
}
.error {
  color: #d11124;
  padding-bottom: 10px;
}
